<!DOCTYPE = html>
<html>
    <head>
        <title>
            Book1
        </title>
        
    </head>
    <body>
        <h1 style="text-align: center;"><%= books.id%></h1>
        <div class="text">
            <img src=<%= books.BookImage %>
            width="200px"
            height="300px"/>
                    
            <%= books.AuthorName %>                      
            <br>
            <strong><%= books.Description %></strong>
        </div>
                
            
    </body>
</html>