<!DOCTYPE html>
<html>
    <head>
        <title>
            Index
        </title>
        
    </head>
    <body>
        <h1 style="text-align: center;"> Library Of Seneca </h1>
        <h2 style="text-align: center;">Hello! Welcome to the library of Seneca.<br></h2>
        <br>
        <div class="text">
            Welcome to land of books and knowledge. On the left, you can see the navigation bar which will guide you through the layout and help you gain the knowledge that you seek!!!
        </div>
    </body>  
</html>