<head>
    <style type="text/css">
            
        .navigation {
            height: 100%;
            width: 150px;
            background-color:lightblue;
            position: fixed;
        }
        div.middle {
            width: 100%;
            margin-left: 400 px;
            padding-left: 200px;
            
        }
        .text {
                width: 100%;
                padding-left: 200px;
                
            }
               

    </style>
    <div>
    <ul class="navigation">
        <li><a href="home">Homepage</a></li><br>
        <li><a href="booksList">Bookslist</a></li><br>
    </ul>
    </div>
</head>
<%- body %>